.yacht {
  max-width: 538px;
  padding: 50px;
  margin: 0 auto;
}

.yacht__logo {
  width: 100%;
  margin: 0 auto;
  /* just to get an apsect ratio same as the SVG's: */
  padding-top: 143%;
  height: 0;
  background-image: url(/images/Yacht.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
