.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/*
** Elements
*/

.header__logo {
  width: 100px;
  height: 100px;
  background-image: var(--logo);
  background-repeat: no-repeat;
  background-size: contain;
}
