.benefits {

}

.benefits__list {
  @apply --listReset;
  display: flex;
  justify-content: center;
}

.benefits__item {
  border-right: 1px solid var(--textColor10);

  &:last-child {
    border-right: 0;
  }
}
